body {
    background-color: #0b141d;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#lobby, #game-zone {
    width: 90%;
    max-width: 400px;
    background: #16222f;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #00ff66;
    box-shadow: 0 0 20px rgba(0, 255, 102, 0.2);
}

h1 { color: #00ff66; margin-bottom: 5px; }
p { color: #8fa0b0; font-size: 14px; }

input {
    width: 80%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #334e68;
    background: #1f3044;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

button {
    background: #00ff66;
    color: #000;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
}

.hidden { display: none !important; }

.hud {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #00ff66;
    margin-bottom: 25px;
    border-bottom: 1px solid #334e68;
    padding-bottom: 10px;
}

.combat-box {
    background: #1f3044;
    padding: 20px;
    border-radius: 8px;
}
